body {
    background-color: #AA7F8C;
    margin: 0;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    font-family:sans-serif;
}
header {
    width: 100%;
    background-color: #568076;
    display: flex;
    justify-content: space-around;
}
header a {
    color: #FF5F1F;
}
main {
    
}
footer{
    background-color: #568076;
    text-align: center;
}

footer ul {
    display: flex;
    justify-content: center;
    flex-direction: column; 
    color: #FF5F1F;
  }
  
footer ul li {
    list-style: none;
}
  
footer ul li a {
    text-decoration: none;
    color: #FF5F1F;
    font-size: 14px;
}