body {
    background-color: #AA7F8C;
    margin: 0;
}
header {
    width: 100%;
    height: 200px;
    background-color: #568076;
    display: flex;
    justify-content: space-around;
}

footer {
    flex: 1; 
    text-align: center;
    background-color: cornflowerblue;
}


footer ul {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
  }
  
  footer ul li {
    list-style: none;
  }
  
  footer ul li a {
    text-decoration: none;
    color: white;
    font-size: 14px;
  }
  