body {
    background-color: #AA7F8C;
    margin: 0;
}
header {
    width: 100%;
    height: 200px;
    background-color: #568076;
}
footer{
    width: 100%;
    height: 200px;
    background-color: #568076;
}